[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
package-project = "pipenv install -e ./app/"

[packages]
nltk = "*"
black = {extras = ["jupyter"], version = "*"}
pandas = "*"
numpy = "*"
sklearn = "*"
lightgbm = "*"
shap= "*"
tabulate = "*"
matplotlib = "*"
mypy = "*"
authorship-tool = {file = "app", editable = true}
ipykernel = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.11"
